body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}